@import "tailwindcss";

* {
  cursor: none;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.glitch:hover {
  animation: glitch 0.4s infinite;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(-1px, -1px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}


/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.horizontal-gallery-container {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

.horizontal-scroll {
  display: inline-block;
  height: 100%;
  padding: 20px;
}

.link-underline {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.link-underline::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.4s ease;
}

.link-underline:hover::after {
  width: 100%;
}

.marquee-container {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.animate-marquee {
  display: inline-block;
  animation: scrollLeft 800s linear infinite;
  padding-left: 100%; /* Start off-screen */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}